/* declaration block{
        property1: value1;
        property2: value2;
        property3: value3;
            }
        */

/* the body tag effects the general content in between the body tags */
/* background image is set to one I made it automatically repeats */
/*  */
body{
    background-image: url(images/bg5.png); /* background image is set to one I made it automatically repeats */
    height: 600px;
    width: 800px; /* sets the width of the body to 600px total */
    margin-right: 200px; /* adds 200px to the right margin */
    color: black; /* changes the text color to black */
}
/* -----------------Paragraph style start---------------------  */
p{
   margin: 30px;  /* adds 10px to the left margin only color right behind my text */
   background-color: aliceblue; /* sets the background color of my text background */
   opacity: 75%; /* makes the background color 75% see through  */
   color: rgb(20, 65, 104); /* changes text color to blue */
   box-shadow: 5px 5px 5px #ababab /* This drops a grey shadow  */
}

/* -----------------Heading style start---------------------  */
h1{
    text-align: center; /* Alights the heading to the center */
    background-color: white; /* adds a white background*/
    color: rgb(20, 65, 104); /* changes my text to black */
    padding: 10px; /* adds a 10px padding after the boarder but before the margin  */
    opacity: 75%; /* changes the opacity to 75% */
    box-shadow: 5px 5px 5px #cecece /* drops a grey shadow */
}

/* -----------------Footer style start---------------------  */
/* I made the footer expand the full length of the nav bar and the main content by adding their lengths together and  fixing the position of the footer so it doesnt move by using float and position i made it a block design*/
footer{
    display: block;
    float: left;
    position: fixed;
   width: 1000px;
   color: cornflowerblue;
   }
/* this affects the list as a whole allowing me to give the whole list a white background letting it show when the padding is added*/
footer ul{
    list-style: none;
    background-color: white;
    padding: 5px;
    box-shadow: 5px 5px 5px #ababab;
   
}
/* this affects the list as a list item allowing met give just the list items a the alice blue background */
footer li{
    background-color: aliceblue;
    text-align: center;
    }

footer a:hover{
    color: rgb(250, 11, 250);
}




/* -----------------navigation bar style start--------------------- 
 */
nav{
    background-image: url(images/sidebar.png); /* sets the background image to an image i made in the images folder  */
    height: 600px; /* sets the height */
    width: 200px; /* sets the width  */
    float: left; /* floats the boxes to the left causing them to go vertically since the width is short */
    padding: 5px; /* puts a padding aroudn the box */
    line-height: 30px; /* increase the line height (letter height) gives mnore space */
    box-shadow: 5px 5px 5px #ababab; /* drops a grey shadow  */
   }

   /* These styles apply to the unordered list as a whole */
nav ul{
    background-color: white;
    margin: auto; /* pushs my link items to the top of the navbar */
    box-shadow: 5px 5px 5px #ababab;
}

/* These affect the way each link looks*/
nav li{
        list-style: none;/* takes the bullet points away from in front of the link */
   }

/* this style on the nav bar affects links that are hovered over causing them to turn blue */

nav a:hover{
     color: deepskyblue;
}


/* -----------------meme style start---------------------  */

#memeImage{
    background-color: white;
    padding: 20px 40px; 
    margin: 20px;
    box-shadow: 5px 5px 5px #ababab
}
/* -----------------navigation bar style start---------------------  */
header{
    font-family: fantasy;
    margin-right: 200px;
    text-align: center;
    box-shadow: 5px 5px 5px #ababab;
}
/* Main content the container on the right that is styled directly opposite of the sidebar so instead of 200px it has 800px making a total of 1000px same hight as sidebar */
.main-container{
   background-color: rgb(255, 255, 255);
   width: 800px;
   height: 600px;
   margin-left: 210px;
   box-shadow: 5px 5px 5px #ababab
 }
